[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Countr"]
	path = Countr
	url = https://github.com/geobosh/countr
[submodule "Rdpack"]
	path = Rdpack
	url = https://github.com/geobosh/rdpack
[submodule "StableEstim"]
	path = StableEstim
	url = https://github.com/geobosh/stableestim
[submodule "cvar"]
	path = cvar
	url = https://github.com/geobosh/cvar
[submodule "gbutils"]
	path = gbutils
	url = https://github.com/geobosh/gbutils
[submodule "lagged"]
	path = lagged
	url = https://github.com/geobosh/lagged
[submodule "mcompanion"]
	path = mcompanion
	url = https://github.com/geobosh/mcompanion
[submodule "mixAR"]
	path = mixAR
	url = https://github.com/geobosh/mixar
[submodule "pcts"]
	path = pcts
	url = https://github.com/geobosh/pcts
[submodule "rbibutils"]
	path = rbibutils
	url = https://github.com/geobosh/rbibutils
[submodule "sarima"]
	path = sarima
	url = https://github.com/geobosh/sarima
[submodule "uroot"]
	path = uroot
	url = https://github.com/geobosh/uroot
