[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "Countr"]
	path = Countr
	url = https://github.com/geobosh/countr
	shallow = true
	registered = true
[submodule "cvar"]
	path = cvar
	url = https://github.com/geobosh/cvar
	shallow = true
	registered = true
[submodule "gbutils"]
	path = gbutils
	url = https://github.com/geobosh/gbutils
	shallow = true
	registered = true
[submodule "lagged"]
	path = lagged
	url = https://github.com/geobosh/lagged
	shallow = true
	registered = true
[submodule "mcompanion"]
	path = mcompanion
	url = https://github.com/geobosh/mcompanion
	shallow = true
	registered = true
[submodule "mixAR"]
	path = mixAR
	url = https://github.com/geobosh/mixar
	shallow = true
	registered = true
[submodule "pcts"]
	path = pcts
	url = https://github.com/geobosh/pcts
	shallow = true
	registered = true
[submodule "rbibutils"]
	path = rbibutils
	url = https://github.com/geobosh/rbibutils
	shallow = true
	registered = true
[submodule "Rdpack"]
	path = Rdpack
	url = https://github.com/geobosh/rdpack
	shallow = true
	registered = true
[submodule "sarima"]
	path = sarima
	url = https://github.com/geobosh/sarima
	shallow = true
	registered = true
[submodule "uroot"]
	path = uroot
	url = https://github.com/geobosh/uroot
	shallow = true
	registered = true
